.item{
    width: calc(32.5% - 20px);
    border: 1px solid #cccccc;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:baseline;
    padding: 10px;
    color: #666666;
    justify-content:flex-end;
}
.name {
    font-size: 1.2rem;
    font-weight: 600;
    width:calc(100% - 40px);
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.city{
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.code{
    font-size: 0.9rem;
    font-weight: 600;
}
.selected {
  display: block;
  align-self:flex-end;
  color: #1976d2;
}
.notSelected {
  display: none;
}